<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="container">
    <form action="" method="post" class="form-login">
        <div>
            <div class="input">
                <input type="text" placeholder="Email or Phone Number">
            </div>
            <div class="input">
                <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="login-button">
            <button class="button"><b>Log In</b></button>
        </div>
        <div class="forget-account">
            <a href="#">Forget Password?</a>
        </div>
        <div class="hr"></div>
        <div class="create-account">
            <b>Create New Account</b>
        </div>
    </form>
</div>

</body>
</html>